
#event-log,
#state-log { 
    font-family: helvetica;
    width: 850px;
    padding: 0 10px;
    margin: 5px 50px;
}

#event-log { 
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.event-log-event-type { 
    display: inline-block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
}

.event-log-event-type:after { 
    display: inline-block;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

.event-log-event-action {
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
}


#state-log { 
    font-size: 16px;
    line-height: 20px;
}

#state-machine { 
    background: #EFEFEF;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    padding: 20px;
    margin: 10px;

}

button { 
    color: #FFFFFF;
    background: #22035E;
    font-family: courier;
    font-size: 18px;
    width: 100px;
    padding: 10px 20px;
    margin: 5px 50px;
    display: block;
    border-radius: 10px;
    outline:none;
}

button[disabled='disabled'] { 
    color: #CCCCCC;
    background: #EFEFEF;
}

h1 { 
    width: 850px;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
    line-height: 40px;
    padding: 10px;
    margin: 10px;
}

circle { 
    fill : #C6EAFF;
    stroke: black;
    stroke-width : 2px;
    stroke-dasharray: 4px;
    stroke-opacity: 0.5;
}

text.label { 
    font-family: arial;
    fill: #000000;
}

circle.active { 
    fill : #9A080B;
    stroke-width : 4px;
    stroke-dasharray: 0;
    stroke-opacity: 1;
}

circle.active + text.label,
circle.active + text.label + text.label { 
    fill: #FFFFFF;
}

circle.was-active { 
    fill : #C33F1B;
    stroke-width : 2px;
    stroke-dasharray: 0;
    stroke-opacity: 1;
}

circle.was-active + text.label,
circle.was-active + text.label + text.label { 
    fill: #FFFFFF;
}

text.state-change-label { 
    font-family: arial;
    font-size: 12px;
    fill: #000000;
}

line {
    stroke: #475592;
    stroke-width: 2px;
    stroke-dasharray: 2px;
    stroke-opacity: 1;
}

line.traversed { 
    stroke: #2E1471;
    stroke-width: 4px;
    stroke-dasharray: 0;
}
